@model MVC_EduHub_Project.Models.Course
 
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutEducatorIndex.cshtml";
}
 
<h1>Add New Course</h1>
 
<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Createcourse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="courseStartDate" class="control-label"></label>
                <input asp-for="courseStartDate" class="form-control" />
                <span asp-validation-for="courseStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseEndDate" class="control-label"></label>
                <input asp-for="CourseEndDate" class="form-control" />
                <span asp-validation-for="CourseEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="category" class="control-label"></label>
                <input asp-for="category" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="level" class="control-label">Level</label>
                <select asp-for="level" class="form-control" asp-items="@ViewBag.level">
                    <option value="">Choose Level</option>
                </select>
            </div>
            <div class="form-group"><br>
                <input type="submit" value="Createcourse" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 
<div>

    <a asp-action="GetCourseByUserId" asp-controller="Educator">Back to List</a>
</div>
 