@model MVC_EduHub_Project.Models.Material
 
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutEducatorIndex.cshtml";
}
 
<h1>Add Material</h1>
 
<h4>Material</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="materialId" class="control-label"></label>
                <input asp-for="materialId" class="form-control" disabled />
                <span asp-validation-for="materialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="courseId" class="control-label"></label>
                <input asp-for="courseId" class="form-control" value="@TempData["CourseId"]" readonly />
                @{TempData.Keep("CourseId");}
                <span asp-validation-for="courseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="uploadDate" class="control-label"></label>
                <input asp-for="uploadDate" class="form-control" />
                <span asp-validation-for="uploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contentType" class="control-label"></label>
                <select asp-for="contentType" class="form-control" asp-items="@ViewBag.contentType">
                    <option value="">Choose Content</option>
                </select>       
             </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 
<div>
    <a asp-action="GetCourseByUserId" asp-controller="Educator">Back to List</a>
</div>
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 
 