@model MVC_EduHub_Project.Models.Enquiry
 
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutStudentIndex.cshtml";
}
 
<h1>Raise Enquiry</h1>
 
<h4>Enquiry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="EnquiryId" class="control-label"></label>
                <input asp-for="EnquiryId" class="form-control" />
                <span asp-validation-for="EnquiryId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="courseId" class="control-label"></label>
                <select asp-for="courseId" class="form-control" asp-items="@ViewBag.CourseList">
                <option value="">Choose Course</option>
                </select>
                <span asp-validation-for="courseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" value="@TempData["userid"]" readonly/>
                @{TempData.Keep("userid");}
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="message" class="control-label"></label>
                <input asp-for="message" class="form-control" />
                <span asp-validation-for="message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subject" class="control-label"></label>
                <input asp-for="subject" class="form-control" />
                <span asp-validation-for="subject" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="EnquiryDate" class="control-label"></label>
                <input asp-for="EnquiryDate" class="form-control" />
                <span asp-validation-for="EnquiryDate" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="Response" class="control-label"></label>
                <input asp-for="Response" class="form-control" />
                <span asp-validation-for="Response" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Raise" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 
<div>
    <a asp-action="MyEnquiries" asp-controller="Enquiry">Back to List</a>
</div>
 
@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
 
 