@model MVC_EduHub_Project.Models.Enquiry
 
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutEducatorIndex.cshtml";
}
 
<h1>Edit</h1>
 
<h4>Enquiry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="enquiryId" class="control-label"></label>
                <input asp-for="enquiryId" class="form-control" readonly/>
                <span asp-validation-for="enquiryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" readonly />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="courseId" class="control-label"></label>
                <input asp-for="courseId" class="form-control" readonly/>
                <span asp-validation-for="courseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subject" class="control-label"></label>
                <input asp-for="subject" class="form-control" readonly/>
                <span asp-validation-for="subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="message" class="control-label"></label>
                <input asp-for="message" class="form-control" readonly/>
                <span asp-validation-for="message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="enquiryDate" class="control-label"></label>
                <input asp-for="enquiryDate" class="form-control" readonly/>
                <span asp-validation-for="enquiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                @* <input asp-for="Status" class="form-control" /> *@
                <select asp-for="status" class="form-control" asp-items="@ViewBag.status">
                    <option value="">Select Status</option>
                </select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="response" class="control-label"></label>
                <input asp-for="response" class="form-control" />
                <span asp-validation-for="response" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 
<div>
    <a asp-action="GetEnquiries" asp-route-id="@Model?.courseId">Back to List</a>
</div>
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 
 